<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Formulario de Producto</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <div class="container mt-0">
    <br>
    <br>
    <br>
    <div class="card custom-card">
      <div class="card-body">
        <h1 class="text-center mb-4" style="color: #470b0b;">Añadir un nuevo producto</h1>
        <form (submit)="guardarProducto()" class="container">
          <div class="form-group">
            <div *ngIf="formSubmitted && !tipoproducto" class="error-message text-danger">Tipo de producto es requerido
            </div>
            <label for="tipoProducto">Tipo de Producto:</label>
            <select id="tipoProducto" name="tipoProducto" [(ngModel)]="tipoproducto" required class="form-control">
              <option value="Venta">Venta</option>
              <option value="Subasta">Subasta</option>
            </select>
          </div>

          <div class="form-group">
            <div *ngIf="formSubmitted && !nombre" class="error-message text-danger">EL nombre es requerido</div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre" required pattern="[A-Za-záéíóúÁÉÍÓÚñÑ\s]+"
              class="form-control">
          </div>

          <div class="form-group " *ngIf="(tipoproducto === 'Venta')">
            <div *ngIf="formSubmitted && !precio" class="error-message text-danger">EL precio es requerido</div>
            <label for="precio">Precio:</label>
            <input type="number" id="precio" name="precio" [(ngModel)]="precio" required class="form-control">
          </div>

          <div class="form-group " *ngIf="(tipoproducto === 'Subasta')">

            <div *ngIf="formSubmitted && !precioSubasta" class="error-message text-danger">EL precio de subasta es
              requerido</div>
            <label for="precioSubasta">Precio en Subasta:</label>
            <input type="number" id="precioSubasta" name="precioSubasta" [(ngModel)]="precioSubasta"
              class="form-control">
          </div>
          <br>
          <div class="form-group">
            <div *ngIf="formSubmitted && !imagenUrl" class="error-message text-danger">Por favor seleccione una imagen
            </div>
            <label for="imagenUrl">URL de la Imagen:</label>
            <input type="file" id="imagenUrl" name="imagenUrl" [(ngModel)]="imagenUrl"
              (change)="onFileSelected($event)" accept="image/*" required class="form-control-file">
          </div>
          <br>
          <div class="form-group">

            <div *ngIf="formSubmitted && !descripcion" class="error-message text-danger">La descripcion es requerida
            </div>
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" [(ngModel)]="descripcion" required
              pattern="[A-Za-záéíóúÁÉÍÓÚñÑ\s]+" class="form-control"></textarea>
          </div>


          <div class="form-group">

            <div *ngIf="formSubmitted && !idCategoria" class="error-message text-danger">Por favor seleccione una
              categoria</div>
            <label for="categoria">Selecciona una categoría:</label>
            <select id="categoria" name="categoria" [(ngModel)]="idCategoria" class="form-control">
              <option *ngFor="let cat of categorias" [value]="cat.id_categoria">{{ cat.descripcion }}</option>
            </select>
          </div>


          <div class="form-group">
            <label for="estado">Estado:</label>
            <select id="estado" name="estado" [(ngModel)]="estado" required class="form-control">
              <option value="0">Activo</option>
              <option value="1">Inactivo</option>
            </select>
          </div>

          <div class="form-group" *ngIf="(tipoproducto === 'Subasta')">
            <div *ngIf="formSubmitted && !fechaInicio" class="error-message text-danger">La fecha de inicio es
              requerida</div>
            <label for="fechaInicio">Fecha de Inicio:</label>
            <input type="datetime-local" id="fechaInicio" name="fechaInicio" [(ngModel)]="fechaInicio" required
              class="form-control">
          </div>

          <div class="form-group" *ngIf="(tipoproducto === 'Subasta')">
            <div *ngIf="formSubmitted && !fechaFinal" class="error-message text-danger">La fecha de inicio de
              finalización</div>
            <label for="fechaFinal">Fecha Final:</label>
            <input type="datetime-local" id="fechaFinal" name="fechaFinal" [(ngModel)]="fechaFinal" required
              class="form-control">
          </div>
          <br>
          <br>
          <div class="center-button">
            <button type="submit" class="btn btn-orange btn-square">Guardar Producto</button>
          </div>
        </form>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>

<!-- //CODIGO CHIDO -->