<!-- carrito.component.html -->

<!-- carrito.component.html -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<!-- carrito.component.html -->

<div class="container">
  <h2 class="mt-3">Carrito de Compras</h2>
  <table class="table table-bordered mt-3">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Fecha de Agregado</th>
        <th scope="col">Acciones</th> <!-- Nueva columna para el botón de eliminar -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.nombreProducto }}</td>
        <td>{{ producto.cantidad }}</td>
        <td>{{ producto.fechaAgregado | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>
          <button class="btn btn-danger" (click)="eliminarProducto(producto.idCarrito)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

