<html>

<head>
    <title>Listado de productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

    

        <div class="container pt-2 mt-5">
            <div class="row mt-5">
              <div class="col-lg-6">
                <div class="table-responsive">
                  <h2>Subastas abiertas</h2>
                  <hr>
                  <table class="table table-hover">
                    <!-- Contenido de la tabla de Subastas abiertas aquí -->
                    <thead>
                        <tr>
                          <th>Imagen</th>
                          <th>Nombre</th>
                          <th>Precio inicial</th>
                          <th>Pagado</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- Fila de ejemplo 1 -->
                        <tr *ngFor="let cat of SBabiertas">
                            <td><img [src]="cat.imagen_url" alt="Imagen de Categoría" width="70"></td>
                            <td>{{ cat.nombre }}</td>
                            <td>{{ cat.precio }}</td>
                            <td>{{ cat.precio_subasta }}</td>
                          </tr>
                        <!-- Puedes agregar más filas de datos aquí -->
                      </tbody>
                  </table>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="table-responsive">
                  <h2>Subastas cerradas</h2>
                  <hr>
                  <table class="table table-hover">
                    <!-- Contenido de la tabla de Subastas cerradas aquí -->
                    <thead>
                        <tr>
                          <th>Imagen</th>
                          <th>Nombre</th>
                          <th>precio inicial</th>
                          <th>Pagado</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- Fila de ejemplo 1 -->
                        <tr *ngFor="let cat of SBcerradas">
                            <td><img [src]="cat.imagen_url" alt="Imagen de Categoría" width="70"></td>
                            <td>{{ cat.nombre }}</td>
                            <td>{{ cat.precio }}</td>
                            <td>{{ cat.precio_subasta }}</td>
                          </tr>
                        <!-- Puedes agregar más filas de datos aquí -->
                      </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          




    
          


</body>

</html>
