/* Estilos para la barra de navegación */
.navbar {
  background-color: #38137b; /* Cambia el color de fondo */
}

.navbar-brand {
  font-size: 24px; /* Cambia el tamaño del texto del logotipo */
}

.navbar-toggler-icon {
  color: #333; /* Cambia el color del ícono del botón de alternancia */
}

.navbar-nav .nav-item .nav-link {
  color: #333; /* Cambia el color de los enlaces de navegación */
}

.navbar-nav .nav-item .nav-link:hover {
  color: #007bff; /* Cambia el color al pasar el ratón por encima */
}
.navbar-logo {
  width: 100px; /* Establece el ancho deseado */
  height: 100pxo; /* Mantiene la proporción original de la imagen */
}

