<div  class="fondo">
  <br>
  <br>
  <br>
  <br>
    <form class="custom-form mt-1 mb-5" method="post">
      <h1>Iniciar Sesión</h1>
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        required="required"
      />
      <button type="submit" (click)="login()">Log in</button>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
