<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factura</title>
</head>
<body>
    <div>
        <h1>Factura</h1>
        <hr>

        <div *ngFor="let item of factura">
            <div>
                <h2>Pedido #{{ item.pedido.id_pedido }}</h2>
                <p>Fecha: {{ item.pedido.fecha_pedido | date:'dd/MM/yyyy' }}</p>
                <p>Ubicación: {{ item.pedido.ubicacion }}</p>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ item.detallesPedido.id_producto }}</td>
                        <td>{{ item.detallesPedido.cantidad }}</td>
                        <td>{{ item.pedido.total_pagar }}</td>
                        <td>{{ item.detallesPedido.cantidad * item.pedido.total_pagar }}</td>
                    </tr>
                </tbody>
            </table>
            <p>Total a pagar: {{ item.pedido.total_pagar }}</p>
        </div>
    </div>

</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factura</title>
    <!-- Agregar enlaces a los archivos CSS de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <style>
    @media print {
        button.print-button {
            display: none;
        }
    }
</style>



    <div class="container mt-5">
       <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <h1 class="text-center">Factura</h1>
          <hr>
          <!-- <button  onclick="imprimirFactura()">Imprimir Factura</button> -->

          <button  class=" print-button" (click)="imprimirFactura()">Imprimir Factura</button>

          <!-- Iterar sobre los elementos de la factura -->
          <div class="mt-4" *ngFor="let item of factura">
              <div class="mb-3">
                  <h4>Pedido #{{ item.pedido.id_pedido }}</h4>

                  <p>Ubicación: {{ item.pedido.ubicacion }}</p>
              </div>
              <table class="table">
                  <thead>
                      <tr>
                          <th>Producto Id</th>
                          <th>Producto</th>
                          <th>Cantidad</th>
                          <th>Precio Unitario</th>
                          <th>Total</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>{{ item.detallesPedido.id_producto }}</td>
                          <td>{{ item.producto.nombre }}</td>

                          <td>{{ item.detallesPedido.cantidad }}</td>
                          <td>{{ item.pedido.total_pagar }}</td>
                          <td>{{ item.detallesPedido.cantidad * item.pedido.total_pagar }}</td>
                      </tr>
                  </tbody>
              </table>

              <p class="font-weight-bold">Total a pagar: {{ item.pedido.total_pagar }}</p>
          </div>
          <br>
        </div>
       </div>
    </div>
    <p>Fecha: {{ fechaGlobal | date:'dd/MM/yyyy' }}</p>
    <div class="col-2"></div>


    <!-- Agregar enlaces a los archivos JavaScript de Bootstrap (jQuery y Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
