/* Estilos para el contenedor principal */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ajusta la altura al 100% del viewport */
  background-color: #f0f0f0; /* Color de fondo */
}

/* Estilos para el menú de navegación */
nav {
  background-color: #333; /* Color de fondo del menú */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

li {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff; /* Color del texto del enlace */
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #555; /* Cambio de color al pasar el ratón */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Para que los elementos se estiren verticalmente */
}

.content {
  flex: 1; /* Esto hará que el contenido ocupe el espacio restante */
  margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
  z-index: 1; /* Asegura que el contenido esté por debajo de la barra de navegación si usas z-index */
}


