<html>

<head>
    <title>Listado de productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

    <div class="container pt-2">

        <div class="row">
            <h1 class="text-center mt-3" style="color: #c43f3f;">Listado de productos</h1>

            <form method="GET" action="URL_AQUI" class="mb-4 form-inline col">
                <div class="form-group d-flex">
                    <label for="categoria" class="sr-only">Categoría:</label>
                    <select name="categoria" class="form-control">
                        <option value="">Todas las categorías</option>
                        <!-- Aquí puedes agregar manualmente las opciones de categoría si es necesario -->
                    </select>
                    <button type="submit" class="btn btn-primary ml-auto">Filtrar</button>
                </div>
            </form>
        </div>

        <!-- Mensaje de inicio de sesión -->
        <div class="text-center alert alert-info" role="alert">
            <h5>Debes iniciar sesión para agregar productos al carrito.</h5>
        </div>

        <div class="container pt-2">

            <div class="card mb-4">
                <div class="card-body">
                    <div class="product">
                        <div class="image">
                            <img src="assets/img/descarga.jpeg" alt="hola">
                        </div>
                        <div class="namePrice">
                            <h3>Nombre del Producto</h3>
                            <span>$ Precio del Producto</span>
                        </div>
                        <p class="mb-5">Descripción del Producto</p>
                        <form method="POST" action="URL_AQUI">
                            <input type="hidden" name="id_producto" value="ID_DEL_PRODUCTO">
                            <div class="bay">
                                <div style="display: flex; align-items: center; justify-content: center;">
                                    <div class="stars">
                                        <input type="number" name="cantidad" value="1" min="1" max="10">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Agregar al carrito</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
