<div  class="fondo">
  <br>
  <br>
  <br>
  <br>
  <form class="custom-form mt-1 mb-5" (submit)="register()" method="post">
    <h1>Registrarse</h1>
    
    <!-- First Name -->
    
    <div *ngIf="formSubmitted && !firstName" class="error-message text-danger">First Name is required</div>
    <input type="text" [(ngModel)]="firstName" name="firstName" placeholder="First Name" required />

    <!-- Last Name -->
    <div *ngIf="formSubmitted && !lastName" class="error-message text-danger">Last Name is required</div>
    <input type="text" [(ngModel)]="lastName" name="lastName" placeholder="Last Name" required />

    <!-- Email -->
    <div *ngIf="formSubmitted && !email" class="error-message text-danger">Email is required</div>
    <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required />

    <!-- Phone Number -->
    <div *ngIf="formSubmitted && !phoneNumber" class="error-message text-danger">Phone Number is required</div>
    <input type="tel" [(ngModel)]="phoneNumber" name="phoneNumber" placeholder="Phone Number" required />

    <!-- Address -->
    <div *ngIf="formSubmitted && !address" class="error-message text-danger">Address is required</div>
    <input type="text" [(ngModel)]="address" name="address" placeholder="Address" required />

    <!-- Password -->
    <div *ngIf="formSubmitted && !password" class="error-message text-danger">Password is required</div>
    <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required />

    <!-- Confirm Password -->
    <div *ngIf="formSubmitted && !confirmPassword" class="error-message text-danger">Repeat Password is required</div>
    <div *ngIf="MatchPassword" class="error-message text-danger">
      {{ MatchPassword }}
    </div>
    <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Repeat the password" required />
    
    

    <button type="submit" (click)="formSubmitted = true">Registrarse</button>
  </form>
  <br>
  <br>
  <br>
  <br>
</div>
